body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgba(17, 24, 39, 0.9);
    backdrop-filter: blur(12px);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
    color: #38bdf8;
}

/* LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
    animation: fadeIn 1.2s ease-in;
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #38bdf8;
    margin-bottom: 20px;
    transition: 0.3s;
}

.profile-pic:hover {
    transform: scale(1.05);
}

/* TEXT */
.hero h1 {
    font-size: 42px;
    color: #38bdf8;
}

/* BUTTON */
button {
    padding: 12px 25px;
    margin-top: 15px;
    background-color: #38bdf8;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background-color: #0ea5e9;
}

/* SECTIONS */
.section {
    padding: 90px 20px;
    text-align: center;
    animation: fadeIn 1.2s ease-in;
}

/* PROJECT CARDS */
.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background-color: rgba(17, 24, 39, 0.9);
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #1f2937;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
input {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

ul {
    text-align: left;
    margin-top: 10px;
}

li {
    cursor: pointer;
    padding: 5px;
}

li:hover {
    color: #38bdf8;
}